.job-card-content {
  font-family: "Open Sans";
}
.job-card-content .card-heading {
  margin-top: 25px;
}
.job-card-content .card-heading h2 {
  font-size: 18px;
  font-weight: 600;
}
.job-card-content .card-heading .via {
  font-size: 13px;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.8);
}
.job-card-content .card-heading .via .inner-via {
  color: #226cf1;
}
.card-middle-info{
    text-align: center;
    padding: 30px 0px 20px 0px;
}
.card-middle-info .card-address .upper-address{
    margin-bottom: 10px;
}
.card-middle-info .card-address .upper-address >span{
    margin-right: 16px;
}
.card-middle-info .card-address .job-type{
    margin-top: 10px;
}
.card-middle-info .card-address span{
    font-size: 13px;
    color: rgb(0, 0, 0,.6);
}
.card-info-bottom span{
    font-size: 13px;
    color: rgb(0, 0, 0,.6);
}