.main-menu a.nav-link {
    margin-right: 25px;
    font-weight: 600;
    font-size: 20px;
}

.buttons button.menu-button {
    margin-right: 30px;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    /* padding: 17px 40px; */
    
}