.details-header-area {
    background-color: #E5E5E5;
    padding: 70px 0px 100px 0px;
}

.details-header-area .details-header-container{
    display: flex;
    align-items:center
}
.details-address .upper-address{
    margin-bottom: 10px;
}
.details-address .upper-address span.address{
    margin-right: 25px;
}

  .details-header-area .header-details {
    margin-left: 70px;
}
.details-header-area .header-details span.via{
    font-size: 16px;
}
.details-header-area .header-details span.inner-via{
    color: #226CF1;
}
.details-header-area .header-details h2{
    font-size: 24px;
    font-weight:600;
    margin-bottom: 5px;
}
.details-header-area .details-address {
    margin-top: 10px;
    margin-bottom: 20px;
}
.details-header-area .details-address span{
    font-size: 14px;
   color: rgb(0, 0, 0,.6);
}
.details-header-area .details-address span svg{
    color: #226CF1;
    margin-right: 5px;
}



.job-details-bottom-date h6{
    color: white;
    font-size: 14px;
    padding: 9px 14px;
    background: #0B1640;
}
.job-details-bottom-date h6 svg{
    margin-right: 5px;
}
.job-details-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.job-details-bottom .job-details-bottom-heart svg{
    color: rgb(0, 0, 0, 0.6);
    padding: 6px;
    border: 1px solid rgb(0, 0, 0,.2);
    border-radius: 50%;
  }