.jobs-area{
    padding: 100px 0px 0px 0px;
}
.left-search-box input{
    padding: 16px 0px 13px 16px;
    width: 100%;
    border: .5px solid rgb(0, 0, 0,.4);
    border-radius: 3px;
    margin-bottom: 36px;
}
.left-search-box input::placeholder{
    color: rgb(0, 0, 0,.6);
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.single-option input.checks:checked{
    border-radius: 50%;
    padding: 5px;
}
.single-option label{
    margin-left: 10px;
    font-family: "Open Sans";
    font-size: 16px;
    color: rgb(0, 0, 0,.6);
}
.show-page-jobs h2{
    font-size:20px;
    font-weight: 600;
    margin-bottom: 25px;
}
.show-page-jobs h2 span{ 
    color: #226CF1;
}
.sort-by-area button{
    background: none;
    background: #226CF1;
    border: none;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 600;
    color: white;
}
.sort-by-area button svg{
    margin-right: 7px;
}
.sort-by .sort-by-text{
    font-size: 16px;
    margin-right: 10px;
} 
.sort-by-area{
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option-header{
    padding:36px 0px 0px 0px;
    margin-bottom: 20px;
}
.option-header button{
    background: none;
    border: none;

}
.option-header h4 {
    font-size:16px;
    color:rgb(0, 0, 0,.8);
    font-weight:600;
}
.single-option-picker{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(0, 0, 0,.4);
}
.single-option {
    margin-bottom: 15px;
}
@media (max-width: 991.98px) {
    .section-header {
        background: #E5E5E5;
        padding: 100px 0px 130px 0px;
    }
    .left-option-picker-area{
        margin-bottom: 60px;
    }
    .option-header{
        padding:24px 0px 0px 0px;
        margin-bottom: 15px;
    }
    .single-option-picker{
        padding-bottom: 10px;
    }
    .single-option {
        margin-bottom: 10px;
    }
    .left-search-box input{
        margin-bottom: 24px;
    }
  }
  @media (max-width: 767.98px) {
    .sort-by-area{
        display: block!important;
    }
    .sort-by-area .sort-by{
        margin-top: 20px;
    }
  }
  