.hero-content .hero-text h1,
h3 {
  color: white;
}

.hero-content {
  background-image: url("./hero-img.png");
  padding: 300px 0px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.hero-text {
  text-align: center;
  padding-bottom: 120px;
}
.hero-text h1 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 15px;
}
.hero-text h3 {
  font-weight: 400;
  font-size: 36px;
}
.hero-text span {
  color: #226cf1;
}
.search-box label,
input {
  display: block;
}
.search-box input {
  width: 100%;
  padding: 25px 0px 25px 25px;
  border-radius: 10px;
  border: none;
  margin-bottom: 25px;
}
.search-box input::placeholder {
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 0, 0, 0.6);
}
.search-box label {
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 15px;
}
.search-box1 span {
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.search-btn button {
  padding: 25px 37px;
  display: flex;
  border-radius: 10px;
  border: none;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  background: #226cf1;
  color: white;
  margin-bottom: 25px;
  transition: 0.3s;
}
.search-btn button:hover {
  background: #ffffff;
  color: #226cf1;
}
.search-btn button svg {
  margin-right: 5px;
}
.search-btn span {
  display: block;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .hero-content {
    padding: 250px 0px 150px 0px;
  }
  .hero-text {
    padding-bottom: 80px;
  }
  .hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .hero-text h3 {
    font-size: 24px;
  }
  .hero-search-area .search-box label {
    margin-bottom: 20px;
  }
  .hero-search-area .search-box2 {
    margin-top: 30px;
  }
  .hero-search-area .search-box2 label {
    margin-top: 20px;
  }
  .search-btn button {
    font-size: 14px;
    padding: 18px 30px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .search-btn span {
    text-align: center;
  }
}

/* xl */
@media screen and (max-width: 1399.98px) and (min-width: 1200px) {
  .search-btn button {
    padding: 25px 30px;
    margin-bottom: 27px;
  }
  .search-box input {
    padding: 23px 0px 23px 25px;
  }
}
/* lg */
@media screen and (max-width: 1199.98px) and (min-width: 992px) {
  .search-btn button {
    padding: 28px 21px;
  }
  .hero-content {
    padding: 250px 0px;
  }
}
/* md */
@media screen and (max-width: 991.98px) and (min-width: 768px) {
  .hero-text {
    padding-bottom: 70px;
  }


}
@media (max-width: 991.98px) {
  .hero-content {
    padding: 250px 0px 160px 0px;
  }
  .search-box1 {
    margin-bottom: 40px;
  }
  .search-btn span {
    text-align: center;
  }
}
@media screen and (max-width: 767.98px) {
  .hero-text h3 {
    font-size: 24px;
  }

  .hero-text {
    padding-bottom: 80px;
  }
}
