.post-job-main{
    padding-top: 65px;
}
.post-job-field label,.post-job-select label,.post-job-text-area label{
    font-size: 14px;
    color: rgb(0, 0, 0,.4);
    margin-bottom: 13px;
    margin-top: 15px;
} 
.post-job-subtitle h6{
    font-size: 18px;
    color: #626262;
    font-weight: 600;
    margin: 35px 0px 20px 0px;
}
.post-job-field input,.post-job-select select{
    padding: 10px 0px 10px 23px;
    border: .5px solid rgb(0, 0, 0,.4);
}
.post-job-subtitle h4{
    font-weight: 700;
    font-size: 24px;
    color: rgb(0, 0, 0,.8);
    margin-top: 35px;
    margin-bottom: 15px;
}
.post-job-btn button{
    margin-top: 40px;
    padding: 14px 28px;
    background: #226CF1;
    color: white;
    font-size: 16px;
    font-weight: 600;
}