.rounded-menu-area {
  padding-bottom: 70px;
}
.offer-nav nav {
  border: 1px solid rgb(0, 0, 0,.4);
  padding: 8px;
  border-radius: 50px;
}
.offer-nav nav ul li a {
  color: rgb(0, 0, 0,.8);
  padding: 20px 100px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 50px;
  transition: .3s;
}
.offer-nav ul li a.active{
  background-color: #226CF1;
  color: white;
}
/* 
.offer-nav nav ul li:hover a {
  background-color: #226CF1;
  color: white;
} */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) {
  .offer-nav nav ul li a{
    font-size: 14px;
    padding: 15px 40px;
  }
}