.main-menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.hire-experts-area{
    background-image: url("./hireBg.png");
    background-size: cover;
    padding: 180px;
}
.hire-experts-text h1{
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    line-height:60px;
    color: white;
}
.easy-use-bg-area{
    padding: 50px 0px;
}