.buy-package-area{
    padding: 100px 0px;
}
.buy-package-text h2{
    font-size: 36px;
    font-family: "Open Sans";
    font-weight: 600;
}
.buy-package-text p{
    font-family: "Open Sans";
    line-height: 26px;
    color: rgb(0, 0, 0,.6);
    margin-top: 20px;
}

.custom-padding-30{
    padding: 30px 20px;
}
.single-package{
    border-bottom: 1px solid rgb(0, 0, 0,.4);
}
.single-package:last-child{
    border-bottom: none
}
.packages-area{
    border: 1px solid rgb(0, 0, 0,.4);
    /* padding: 0px 20px; */
    border-radius: 8px;
}
.single-plan h4{
    font-size: 22px;
    font-weight: 600;
    margin-right: 5px;
}
.single-plan span{
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 0, 0,.6);
}
.job-salary{
    justify-content: center;
}
.subscribe-btn{
    text-align: right;
}
.subscribe-btn button{
    padding:18px 30px;
    background-color: #226CF1;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
    transition: .3s;
}
.subscribe-btn button:hover{
    background-color: #1c5acd;
}

@media (max-width: 991.98px){
    .buy-package-text{
        text-align: center;
        margin-bottom: 30px;
    }
}
@media (max-width: 767.98px){
    .subscribe-btn button{
        padding:18px 30px;
        font-size: 14px;

    }
    .single-plan h4{
        font-size: 18px;
    }
    .single-plan span{
        font-size: 14px;
        font-weight: 400;
        color: rgb(0, 0, 0,.6);
    }
    .job-salary{
        justify-content: start;
    }
}
@media screen and (max-width: 528.98px) and (min-width: 437px) {
    .subscribe-btn button{
        padding:14px 24px;
        font-size: 12px;
    }
    .single-plan h4{
        font-size: 13px;
    }
    .single-plan span{
        font-size: 11px;
    }
}
@media screen and (max-width: 436.98px) and (min-width: 320px) {
    .subscribe-btn button{
        padding:10px 16px;
        font-size: 8px;
    }
    .single-plan h4{
        font-size: 10px;
    }
    .single-plan span{
        font-size: 6px;
    }
}