.contact-input-field{
    margin-bottom: 20px;
}
.contact-input-field input{
    padding: 16px 0px 13px 16px;
    width: 100%;
    border: .5px solid rgb(0, 0, 0,.4);
}
.contact-input-field input::placeholder{
    color: rgb(0, 0, 0,.6);
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.contact-input-field textarea{
    padding: 16px 0px 13px 16px;
    width: 100%;
    border: .5px solid rgb(0, 0, 0,.4);
}
.contact-input-field textarea::placeholder{
    color: rgb(0, 0, 0,.6);
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.send-msg-btn button{
    color: white;
    background: #226CF1;
    font-weight: 600;
    font-size: 16px;
    padding: 14px 28px;
    border-radius: 3px;

}