.sub-header-area{
    padding: 100px 0px 45px 0px;
    background-color: white;
}
.sub-header-text h2{
    font-size: 36px;
    color: rgb(29, 29, 29);
    font-weight: 600;
    margin-bottom: 30px;
}
.sub-header-text p{

}